@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;300&display=swap');


a:link {
    text-decoration: none;
    color: rgb(223, 221, 221);
    text-align: center;
  }
  
  a:visited {
    text-decoration: none;
    color: rgb(192, 192, 192);

}

a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  a:active {
    text-decoration: none;
    color: rgb(255, 255, 255);

  }

hr{
  height: 1px;
    width: 100%;
    border-block-color: #f2f2f24b;
    border: none;
    background-color: #f2f2f24b;
}

.bigHeading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Prompt', sans-serif;
}
.mediumHeading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Prompt', sans-serif;
}

.mediumHeading .p {
  margin:10px;
}

::-webkit-scrollbar {
  height: 3px;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgba(128, 128, 128, 0); 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(77, 76, 76, 0.753); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3d3d3d;

}

/* mobile screen */
@media only screen and (max-width: 720px) {
 
  .bigHeading{
   font-size: 32px; 
  }
  .mediumHeading{
   font-size: 25px; 

  }
  }

/* pc screen */
@media only screen and (min-width: 720px) {
 
  .bigHeading{
   font-size: 48px; 
    
  }
  .mediumHeading{
    font-size: 32px; 
 
   }
  
  }

